<div class="container-fluid">
  <h1>My Profile</h1>
</div>
<div class="content">
  <div class="profile">
    <div class="card">
      <img src="https://gilc11.sg-host.com/contents/uploads/users/1/profile/Ij7MUe2J8oeAIgNzgsCVrVNuey9i4hiW.png"
        style="margin: 10px;">
      <button type="button" class="btn btn-primary" style="margin: 10px;">Change Profile
        Picture</button>
      <span>Marchael Mendiola</span>
      <a href="" style="margin: 10px;">marchael21@gmail.com</a>
    </div>
  </div>

  <div class="profile-info">

    <div class="card">
      <form>
        <div class="row">
          <h3 style="margin: 10px;">Personal Information</h3>
        </div>
        <div class="row">
          <label for="text-input" class="col-3">Full Name</label>
          <div class="col-7">
            <p class="forcontrol">Marchael C Mendiola</p>
          </div>
        </div>
        <div class="row">
          <label for="text-input" class="col-3">Address</label>
          <div class="col-7">
            <p>
              San
              Mariano, San Antonio Nueva Ecija</p>
          </div>
        </div>
        <div class="row">
          <label for="text-input" class="col-3">Phone No.</label>
          <div class="col-7">
            <p>
              09567336098</p>
          </div>
        </div>
        <div class="row">
          <label for="text-input" class="col-3">Position</label>
          <div class="col-7">
            <p class="forcontrol">Software Developer</p>
          </div>
        </div>
        <div class="update">
          <button type="button" class="btn btn-primary">Update Personal
            Information</button>
        </div>
        <hr>
        <div class="row">
          <div class="col-9 ml-auto">
            <h3>Account Information</h3>
          </div>
        </div>
        <div class="margin-top-10">
          <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            </button>
            <strong>Tips:</strong> To update account/security settings go to account settings tab.
          </div>
        </div>
        <div class="row">
          <label for="text-input" class="col-3">Username</label>
          <div class="col-7">
            <p class="forcontrol">admin</p>
          </div>
        </div>
        <div class="row">
          <label for="text-input" class="col-3">Email</label>
          <div class="col-7">
            <p class="forcontrol">marchael21@gmail.com</p>
          </div>
        </div>
        <div class="row">
          <label for="text-input" class="col-3">Role</label>
          <div class="col-7">
            <p>Admin
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
