<div class="container">
  <div class="card">
    <h3 class="fill-up">
      Fill up the user's information
    </h3>
    <br>
    <form>
      <div class="row">
        <div class="col-lg-4  ">
          <label>First Name:</label>
          <input type="text" class="form-control" placeholder="Enter first name">
        </div>
        <div class="col-lg-4 ">
          <label>Middle Name: (optional)</label>
          <input type="text" class="form-control" placeholder="Enter middle name">
        </div>
        <div class="col-lg-4 ">
          <label>Last Name:</label>
          <input type="text" class="form-control" placeholder="Enter last name">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-6 ">
          <label>Email Address</label>
          <input type="email" class="form-control" placeholder="Enter email address">
          <span class="m-input-icon__icon m-input-icon__icon--right">
            <span>
              <i class="la la-envelope"></i>
            </span>
          </span>
        </div>
        <div class="col-lg-6 ">
          <label>Phone Number</label>
          <input type="text" class="form-control" placeholder="Enter phone number">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-12 ">
          <label>Address: (optional)</label>
          <input type="text" class="form-control m-input ng-pristine ng-untouched ng-valid ng-empty"
            placeholder="Enter your address">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-lg-4 ">
          <label>User Role:</label>
          <div class="">
            <label class="">
              <input type="radio"> Admin
              <span></span>
            </label>
            <label class="m-radio m-radio--solid">
              <input type="radio"> Merchant
              <span></span>
            </label>
          </div>
          <span class="">Please select user role</span>
        </div>
        <div class="col-lg-4 ">
          <label>Position: (optional)</label>
          <input type="text" class="form-control" placeholder="Enter last name">
        </div>
      </div>
      <br>
      <div class="form-group m-form__group row">
        <div class="col-lg-4 ">
          <label>Username:</label>
          <input type="text" class="form-control" placeholder="Enter username">
        </div>
        <div class="col-lg-4 ">
          <label for="password">Password:</label>
          <input type="password" id="password" class="form-control" placeholder="password">
        </div>
        <div class="col-lg-4 ">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="confirm password">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="offset-4 col-lg-4">
          <button type="button" class="btn btn-primary btn-block">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
