body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #eeeeee no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
